{% extends "layouts/base.html" %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block title %} Signup page{% endblock %}

{% block content %}
<section class="vh-80">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.png" class="img-fluid"
            alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form method="post" novalidate class="signupform">
            {% csrf_token %}
            <div class="divider d-flex align-items-center my-4">
                <h1>Sign Up</h1>
            </div>
            
            {{users_form|crispy}}
            {{address_form|crispy}}
 
  
            <div class="text-center text-lg-start mt-4 py-2">
              <button type="submit" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Signup</button>
            </div>
  
          </form>
        </div>
      </div>
    </div>
{% endblock %}
